<div class="d-flex justify-content-center h-75">
  <mdb-card
    id = "demoCard"
    class="card-image mb-3 mx-2 align-self-center">
    <div class="text-white text-center d-flex align-items-center rgba-black-light py-4 px-4">
      <div>
        <h5 class="white-text">
          <mdb-icon far icon="eye"></mdb-icon>
          Demo
        </h5>
        <h3 class="card-title pt-1"><strong>Use Demo to see how It works </strong></h3>
        <a routerLink="demo" mdbBtn color="grey" class="waves-light" mdbWavesEffect>
          <mdb-icon far icon="clone" class="left"></mdb-icon>
          View page</a
        >
      </div>
    </div>
  </mdb-card>

  <mdb-card
    id = "mapCard"
    class="card-image mb-3 mx-2 align-self-end">
    <div class="text-white text-center d-flex align-items-center rgba-black-light py-4 px-4">
      <div>
        <h5 class="white-text">
          <mdb-icon fas icon="map-marker-alt"></mdb-icon>
          Map
        </h5>
        <h3 class="card-title pt-1"><strong>Use Map to know the lightest path</strong></h3>
        <a routerLink="map" mdbBtn color="grey" class="waves-light" mdbWavesEffect>
          <mdb-icon far icon="clone" class="left"></mdb-icon>
          View page</a
        >
      </div>
    </div>
  </mdb-card>

  <mdb-card
  id = "adminsterCard"
  class="card-image mb-3 mx-2 align-self-center">
  <div class="text-white text-center d-flex align-items-center rgba-black-light py-4 px-4">
    <div>
      <h5 class="white-text">
        <mdb-icon fas icon="user-shield"></mdb-icon>
        Administer
      </h5>
      <h3 class="card-title pt-1"><strong>Use Administer to add points</strong></h3>
      <a routerLink="administer" mdbBtn color="grey" class="waves-light" mdbWavesEffect>
        <mdb-icon far icon="clone" class="left"></mdb-icon>
        View page</a
      >
    </div>
  </div>
</mdb-card>
  
</div>
