mdb-card{
    background-size: cover;
}

#mapCard{
    background-image: url('../../../assets/images/map.jpeg');
}

#adminsterCard{
    background-image: url('../../../assets/images/points.jpg');
    background-size: cover;
}

#demoCard{
    background-image: url('../../../assets/images/internet.jpg');
}